streamlit==1.32.0 
pip install --upgrade
langchain==0.1.11 https://pypi.tuna.tsinghua.edu.cn/simple
pandas==2.2.1 https://pypi.tuna.tsinghua.edu.cn/simple
faiss-cpu==1.8.0 https://pypi.tuna.tsinghua.edu.cn/simple
python-dotenv==1.0.1 https://pypi.tuna.tsinghua.edu.cn/simple
loguru==0.7.2 https://pypi.tuna.tsinghua.edu.cn/simple
pytest==8.0.2 https://pypi.tuna.tsinghua.edu.cn/simple
sentence-transformers==2.5.1 https://pypi.tuna.tsinghua.edu.cn/simple
openai==1.12.0 https://pypi.tuna.tsinghua.edu.cn/simple
pathlib https://pypi.tuna.tsinghua.edu.cn/simple
langdetect https://pypi.tuna.tsinghua.edu.cn/simple
